<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDAO" class="ru.otus.dsokolov.dao.QuestionCSV">
    </bean>

    <bean id="questionService" class="ru.otus.dsokolov.service.QuestionServiceImpl">
        <constructor-arg name="dao" ref="questionDAO"/>
    </bean>

</beans>
