<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book create</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 150px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        .errors {
            color: red;
        }
    </style>
</head>
<body>
<form id="book-edit-form" action="bookEdit.html" th:action="@{/book-add}" th:method="post"
      th:object="${book}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="book-title-input">Book title:</label>
        <input id="book-title-input" name="title" type="text" th:value="*{title}" value="test"/>
    </div>
    <div class="row">
        <label for="book-author-fullName-input">Author full name:</label>
        <select id="book-author-fullName-input" th:field="*{author}" name="author">
            <option th:each="item : ${authors}"
                    th:value="${item.id}"
                    th:text="${item.fullName}">
            </option>
        </select>
    </div>
    <div class="row">
        <label for="book-genre-name-input">Genre name:</label>
        <select id="book-genre-name-input" th:field="*{genre}" name="genre">
            <option th:each="item : ${genres}"
                    th:value="${item.id}"
                    th:text="${item.name}">
            </option>
        </select>
    </div>
    <div class="row">
        <button type="submit">Save</button>
        <a href="bookList.html" th:href="@{/book-all}">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>
</body>
</html>
