<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book list</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 500px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
<h1>Book list:</h1>

<table class="books">
    <a href="bookNew.html" th:href="@{/book-add}">
        <button type="button">Create book</button>
    </a>
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    $(function () {
        $.get('/api/books/all').done(function (books) {
            books.forEach(function (book) {
                $('tbody').append(`
                    <tr>
                        <td>${book.id}</td>
                        <td>${book.title}</td>
                        <td>${book.author.fullName}</td>
                        <td>${book.genre.name}</td>
                        <td>
                        <a href="/book-comment-all?bookId=${book.id}"> <button type="button">comments</button> </a>
                        <a href="/book-edit?id=${book.id}"> <button type="button">edit</button> </a>
                        <a href="/book-del?id=${book.id}"> <button type="button">delete</button> </a>
                        </td>
                    </tr>
                `);
            });
        })
    });
</script>
</body>
</html>
